*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body{
  background-image: url("../img/sfondo.jpg");
}

.container{
  width: 70vh;
  margin: auto;
}

/* header */
header{
  height: 150px;
  background-color: darkgrey;
}

.logo{
  height: 130px;
  background-image: url("../img/logo.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  border: 5px solid white;
}

 .theme{
  color: white;
  font-size: 10px;
}

nav{
  height: 100%
}

.navbar ul{
  list-style-type: none;
}

.navbar li{
  float: left;
  width: 14.28%;
  text-align: center;
}

.navbar a{

  text-decoration: none;
  color: white;
  display: inline-block;
  font-size: 6.6px;
}

/* main */
main{
  /*height: 750px;*/
}

.floatcontainer{
}

.floatcontainer:after{
  content: "";
  display: table;
  clear: both;
}

.pagefeed{
  width: 20%;
  height: 250px;
  background-color: white;
  float: left;
}

.feed{
  color: green;
  font-size: 8px;
}

.contentpage{
  width: 50%;
  height: 150px;
  background-color: white;
  float: left;
  margin-left: 5%;
  margin-right: 5%;
}

#title{
  color: black;
  font-size: 12px;
  padding: 5px;
}

.widget{
  width: 20%;
  text-align: center;
  /*height: 500px;*/
  background-color: inherit;
  float: left;
}

/* content widget */
.block{
  background-color: white;
  height: 150px;
  margin-bottom: 15px;
}

.int{
  color: black;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

.txt{
  color: black;
  font-size: 9px;
  padding-left: 5px;
  line-height: 15px;
}

/* footer */
footer{
  height: 100px;
  background-color: white;
}

.sign{
}
